<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jtool.macrorecorder.PreferencePage"
            id="org.jtool.macrorecorder.PreferencePage"
            name="ChangeMacroRecorder">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jtool.macrorecorder.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jtool.macrorecorder.Activator">
      </startup>
   </extension>
</plugin>
