<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jtool.macrorecorder.handlers">
      <handler
            class="org.jtool.macrorecorder.sample2.SampleMacroPrintHandler"
            commandId="org.eclipse.macrorecorder.handler.SampleMacroPrintHandler">
      </handler>
   </extension>
</plugin>
